@import "../variables";

header {
  background: $color--header-1;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0 5%;

  @media (min-width: 750px) {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5% 0 5%;
  }
  i {
    font-weight: bold;
    background: #d8d8d8;
    align-self: center;
    padding: 2px 50px 2px 50px;
  }
}

nav {
  font-weight: bold;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  li {
    padding: 0 10px 0 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
