.hero-img-section {
  background: radial-gradient(
      circle at 50% 0,
      rgba(57, 73, 81, 0.85),
      rgba(12, 32, 42, 0.7) 93%
    ),
    url(../../images/01_hero-img/hero-small.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  min-block-size: 487px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  @media (min-width: 768px) {
    background: radial-gradient(
        circle at 50% 0,
        rgba(57, 73, 81, 0.85),
        rgba(12, 32, 42, 0.7) 93%
      ),
      url(../../images/01_hero-img/hero-large.jpg);
    background-size: cover;
  }

  @media (min-width: 990px) {
    height: 95vh;
    justify-content: start;
  }

  &__text-container {
    text-align: center;
    flex-basis: 80%;

    * {
      transition: all 1s ease-in-out;
    }

    &__title {
      margin: 0;
    }
    &__text {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: $color--font-4;
      letter-spacing: 0.92px;
      @media (min-width: 990px) {
        font-size: 17px;
      }
    }
    @media (min-width: 990px) {
      flex-basis: 40%;
      margin-inline-start: 5%;
      margin-block-end: 10%;
    }
  }
}
