.img-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8% 5% 8% 5%;
  @media (min-width: 768px) {
    padding: 6% 10% 6% 10%;
  }
  h2 {
    color: $color--complement-1;
    flex: 1 1 100%;
    font-size: 1.79rem;
    @media (min-width: 750px) {
      font-size: 2.4rem;
    }
  }
  img {
    margin: 0.4rem;
    height: 26vw;
    max-height: 165px;
    max-width: 165px;
    border: $color--background 0.3rem solid;
    @media (min-width: 450px) {
      margin: 0.6rem;
    }
    @media (min-width: 650px) {
      height: 27vw;
      margin: 0.9rem;
    }
  }
}
