.services-section {
  padding-bottom: 0;

  @media (min-width: 750px) {
    display: grid;
    grid-template: 1fr / 3.5fr 4fr;
    grid-gap: 10%;

    &__picture {
      grid-row: 1/2;
    }
  }
  img {
    @extend %img-settings;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 7% 5%;
    &__title {
      margin-bottom: 0;
      color: $color--complement-1;
    }
    &__text {
      color: $color--font-2;
    }

    @media (min-width: 750px) {
      justify-content: center;
      padding: 0;
      padding-right: 25%;
    }
  }
}
