@import "variables";

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background: $color--background;
}
main {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background: inherit;
}
section:nth-of-type(even) {
  background: $color--main-1;
}
h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 2.143rem;
  margin-top: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}
h4 {
  font-size: 1.286rem;
  font-weight: bold;
}
h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
}

i {
  font-style: normal;
}

.hero_img {
  background-image: url(https://via.placeholder.com/1440x780);
  background-size: cover;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  text-align: center;
  flex-basis: 80%;
}
.hero-text h1,
.hero-text p {
  margin: 0;
}
.hero-text p {
  font-size: 16px;
  font-weight: bold;
}

.about-img-grid img,
.services-section img,
.gallery-section img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 750px) {
  html {
    font-size: 15px;
  }
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.5rem;
  }

  .hero-text {
    flex-basis: 40%;
  }
  .hero-text p {
    font-size: 17px;
  }
}
