$color--background: #fafafa;
$color--main-1: #394951;
$color--complement-1: #ff8673;
$color--complement-2: #9aa5aa;
$color--heading-a: #9d5c5f;
$color--heading-b: #ffaf89;
$color--font-1: #000000;
$color--font-2: #ffffff;
$color--font-3: #eaddd9;
$color--font-4: #f0f0f0;
